:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 1980px;
  margin: 0 auto;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_R, serif;
  line-height: 1.55;
  font-size: 18px;
}


