@use 'sass:math';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 1980px;
  margin: 0 auto;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_R, serif;
  line-height: 1.55;
  font-size: 18px;
}

.main-header{
  position: relative;
}

.layers{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.layer{
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;

}

$value: calc(var(--scrollTop) * 0.5);

//.layers__base{
//  value: $value;
//  transform: translate3d(0, value, 0);
//}

.main-article{
  min-height: 100vh;
}

